nav ul {display: inline; list-style: none; }
nav li {padding-right: 10px;}
#login, #menu {padding: 10px;}

#login{ background: rgb(255, 251, 251); }
#login ul li{float: inline-end;}

#menu{background: rgb(255, 255, 255)}
#menu ul li{float: inline-start;}

#sis {background: rgb(205, 50, 122);}

#file {background: rgb(247, 218, 57)}  /* mediumorchid; darkgreen*/

#public { background:  rgb(73, 206, 240); }

@media (max-width: 600px){
  #login, #menu{display: white; }
}